
.container{
    width: 376px;
    height: 40px;
    background-color:rgba(1,1,1,1);
    padding:5px;
    padding-left: 1px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;

   section{
    gap:10px;
   }
  
   a{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding: 5px;

    &:hover{
        color:white;
        border-bottom: 2px solid white;
        padding-bottom: 1px;
        
    }
   }

 h1,a{
    color: aliceblue;
    font-family:cursive;
 }
}