.con{
    position: relative;
    top: 94px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;

    .blogContainer{
        border: 2px solid white;
        padding: 10px;
        width: 330px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }

    input[type="search"]{
        height: 26px;
        border-radius: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    #ic{
        position: relative;
        top: 5px;
    }

    #h{
        transform: translate(-40px,-1020px);
    }

    

    pre{
        text-align: left;
        font-size: 15px;
        
    }

    h4{
        text-align: left;
       
    }

    h5{
        position: relative;
        top:0px;
    }
 }
    


// .con{

//     padding-top: 30px;
//     padding-left: 15px;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     position: relative;
//     top: 60px;

// }

// .blogContainer{

//     width:330px;
//     height: 130px;
//     border: 2px solid black;
//     border-radius: 20px;
//     padding-left: 5px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     gap:10px;
//     justify-content: center;
//     overflow: hidden;
//     text-align: left;

//      img{
//          width: 105px;
//          height: 120px;
//          border-radius: 5px;
//      }
// }